/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--endddddd---*/

.video {
	
	margin: 0 auto;
	padding:40px;
	
}


.product-image {
	padding:20px;
}


body{
	
	background-color:#F2EBED;
	max-width:100%;
	overflow-x: hidden ;
	

}

#logo-wrapper{
	padding:30px;
	background-color:#AB0054;
	margin:0 auto;
	width:100%;
	border-bottom:6px solid #FD9C06;
	
}

header{
	margin: 0 auto;
	width:100%;
}
#logo a{
	float:left;
	width:50%;
	margin:0 auto;
	margin-left:30px;
	font-family: 'Cabin', sans-serif;
	font-variant: small-caps;
	text-transform:lowercase;
	font-style:bold;
	font-size:3em;
	color:white;
	text-decoration:none;
}


nav ul a{
	font-family:'Cabin', sans-serif;
	float:left;
    font-style: normal;
	font-size:1em;
	color:white;
	text-decoration:none;
	background-color:#AB0054;
	padding:22px;
	margin-left:4px;
	margin-right:4px;
}

ul a:hover {
	background-color:#8E0331;
	

}

#follow img:hover{
   
  	background-color:#8E0331;

 }
	
 #follow a{
	margin:2px;
	margin:0 auto;
	width:25%;
}


footer{
	margin:0 auto;
	width:500%;
	font-family: 'Cabin', sans-serif;
	font-size:.8em;
	background-color:#AB0054;
	padding:20px;
	height:20px;
	clear:both;
	border-top:6px solid #FD9C06;
	
}

footer h5{
	display:inline-block;
	
	
	align:vertical;
	color:#FD9C06;
}



.work-desc {
	
	padding:50px;
	float:left;
	width:30%;
}

#hello{
	height:500px;
}

#hello section{
	
	padding:60px;
	text-align:left;
}

#hello h1 {
	color:#FD9C06;
	padding-bottom:20px;
	font-family:'Cabin', sans-serif;
	font-size:1.5em;
}


h3{
	font-family:'Cabin', sans-serif;
	font-size:1.25em;
	padding-bottom:6px;

}

p span{
	
	font-variant: small-caps;
	text-transform:lowercase;
}

.about-work{padding:50px;
	width:30%;
	line-height:1.2em;

}

.about-work{padding:50px;
		width:30%;
		line-height:1.2em;
}


.about-work h3{
		line-height:1.2em;
		color:#FD9C06;
		padding-bottom:20px;
		font-family:'Cabin', sans-serif;
		font-size:1.5em;
	
	}



/** Caption 1: Simple **/
#mainwrapper .box .simple-caption {
	height: 0px;
	width: 300px;
	margin:0 auto;
	display:block;
	line-height: 25pt;
	text-align: center;
	position: relative;
	left: 0;
	bottom:30px;
	
}

.box p{
	display:none;
}

.box {
	align:center;
	max-height:300px;
	padding:20px;
	
	
}

.box:hover p { 
	display:block;
	padding-top:10px;
	color:#F2EBED;
}

.box:hover {
	max-height:300px;
	
	
}

/** Caption 1: Simple **/

/** Simple Caption :hover Behaviour **/
#mainwrapper .box:hover .simple-caption{
	position:relative;
	left: 0;
	bottom:53px;
	display:block;
	height: 50px;
	width: 300px;
	text-align:center;
	font-family: 'Cabin', sans-serif;
	color:white;
	background-color: rgba(0,0,0,0.7);
	
	
	z-index: 100;
		-webkit-transition: all 300ms ease-in;
		-moz-transition: all 300ms ease-in;
		-o-transition: all 300ms ease-in;
		-ms-transition: all 300ms ease-in;	
		transition: all 300ms ease-in;
}
/** Simple Caption :hover Behaviour **/


/* Image Box Style */
	#mainwrapper .box {
		display:hidden;
		display:inline-block;
		float: left;
}
/* Image Box Style */

/*--hover effect stuff--*/


#work {
	align:center;
	margin:0 auto;
	width:80%;
}


#work img{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	    filter: gray; /* IE6-9 */
	   -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

}

#work img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
       filter: none; /* IE6-9 */
      -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

/*--hover effect stuff--*/


/*--typekit--*/
@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic);
/*--typekit--*/


/* Shop */
@media only screen and (min-width: 401px) {
  .shop .sy-box .sy-slides-wrap {
    min-width: 400px;
    max-width: 590px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
.shop .sy-box .sy-slides-crop {
  overflow: visible;
  margin:0 auto;
  width:100%;
}
@media only screen and (max-width: 500px) {
  .shop .sy-box .sy-controls li {
    min-width: 2.4em;
  }
  .shop .sy-box .sy-controls li a:after {
    line-height: 1.4em;
    height: 1.4em;
    width: 1.4em;
    margin-top: -0.7em;
    margin-left: -0.7em;
  }
}
@media only screen and (min-width: 501px) {
  .shop .sy-box .sy-controls li {
    width: 100%;
  }
  .shop .sy-box .sy-controls li.sy-prev {
    left: -100%;
  }
  .shop .sy-box .sy-controls li.sy-next {
    right: -100%;
  }
  .shop .sy-box .sy-controls li a:after {
    background: none;
  }
}
.shop .sy-box .sy-slide {
  opacity: 0.6;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.shop .sy-box .sy-slide .product-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1em;
}
@media only screen and (max-width: 500px) {
  .shop .sy-box .sy-slide .product-info {
    padding: 1em 2.4em;
  }
}
.shop .sy-box .sy-slide .product-info p {
  margin-bottom: 1em;
}
.shop .sy-box .sy-slide .product-info p, .shop .sy-box .sy-slide .product-info .button-link {
  opacity: 0;
}
.shop .sy-box .sy-slide .product-info .button-link {
  position: absolute;
  bottom: 1em;
}
.shop .sy-box .sy-slide .product-info .buy-now {
  right: 1em;
}
@media only screen and (max-width: 500px) {
  .shop .sy-box .sy-slide .product-info .buy-now {
    right: 2.4em;
  }
}
.shop .sy-box .sy-slide .product-info .more-info {
  left: 1em;
}
@media only screen and (max-width: 500px) {
  .shop .sy-box .sy-slide .product-info .more-info {
    left: 2.4em;
  }
}
.shop .sy-box .sy-slide .image-content {
  line-height: 0;
}
.shop .sy-box .sy-slide .image-content .product-image {
  max-width: 100%;
}
.shop .sy-box .sy-slide.sy-active {
  opacity: 1;
}
.shop .sy-box .sy-slide.sy-active .buy-now {
  opacity: 1;
}
.shop .sy-box .sy-slide.sy-active:hover .product-image {
  opacity: 0.2;
}
.shop .sy-box .sy-slide.sy-active:hover .product-info p, .shop .sy-box .sy-slide.sy-active:hover .product-info .button-link {
  opacity: 1;
}
.shop .sy-box .sy-slide .product-info p,
.shop .sy-box .sy-slide .product-info .button-link,
.shop .sy-box .sy-slide .product-image, .shop .sy-box .sy-slide.sy-active, .shop .sy-box .sy-slide.sy-active .buy-now, .shop .sy-box .sy-slide.sy-active:hover .product-image, .shop .sy-box .sy-slide.sy-active:hover .product-info p, .shop .sy-box .sy-slide.sy-active:hover .product-info .button-link, .shop .sy-box .sy-slide.sy-active.transition {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.product-name,
.shop-slider .slide_box {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 401px) {
  .product-name,
  .shop-slider .slide_box {
    min-width: 400px;
    max-width: 590px;
    width: 50%;
  }
}
/* Shop */


/* responsive */




@media screen and (max-width:500px){
	#logo-wrapper{height:180px;}
	#logo { width:200%; margin:0 auto;padding-bottom:40px; align:center;}
	nav ul a { display:inline-block;float:left;width:15%; margin:0 auto;align:center;}
	ul a { margin:0 auto; padding:0px;align:center;}
	#follow a{ float:left;width:20%;margin:0 auto;}
	#follow {width:100%;clear:left;;margin:0 auto;}
	.about-work h3 {width:250%;margin:0 auto;}
	.about-work p{width:250%;margin:0 auto;}
	#work a{ margin:0 auto; width:80%; align:center;}
	#footer h3{ margin:0 auto; width:200%;}
	body {overflow-x:hidden; width:100%;height:300px; margin:0 auto;}
	.video{max-height:30%; margin:0 auto;}
	
}







