/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*--endddddd---*/

body{
	
	background-color:#F2EBED;

}

#logo-wrapper{
	padding:30px;
	background-color:#AB0054;
	margin:0 auto;
	width:100%;
	border-bottom:6px solid #FD9C06;
	
}


#logo{
	float:left;
	width:40%;
	margin-left:20px;
	

}


nav ul a{
	font-family:sans-serif;
	float:left;
    font-style: normal;
	font-size:1em;
	color:white;
	text-decoration:none;
	background-color:#AB0054;
 	border-radius:3px;
	padding:22px;
	margin-left:4px;
	margin-right:4px;
}




  ul a:hover {
	background-color:#8E0331;

}

 ul a:active {
	background-color:black;

}

#follow a{
	
	margin:2px;
	
}


.select{display:none;}
	
.hover{display:none;}

#follow:hover .class a{
	
	background: url('images/behance-hover.png');
}


#work {
	padding:40px;
	margin:0 auto;
	align:center;

}

#work a{
	margin:0 auto;
	width:100%;
	
}

/*----resize images in photoshop--*/
#work img{
	height:300px;
	width:300px;
	padding:20px;
}

/*----resize images in photoshop--*/



footer{
	font-family:sans-serif;
	font-size:.75em;
	color:white;
	background-color:#AB0054;
	padding:20px;
	height:20px;
	clear:both;
	border-top:6px solid #FD9C06;
	
}


footer h5{
	float:left;
	margin-left:40px;
	margin-top:5px;
	align:vertical;
}



.work-desc {
	
	padding:50px;
	float:left;
	width:30%;
	
	

}

#hello{
	
	height:500px;
}

#hello section{
	
	padding:60px;
	text-align:left;
}

#hello h1 {
	color:#AB0054;
	padding-bottom:20px;
	font-family:sans-serif;
	font-size:2em;
}


/*----resize images in photoshop--*/
.hor {
	
	width:20%;
}

.vert {
	
	width:10%;
	
}
/*----resize images in photoshop--*/

h3{
	font-family:sans-serif;
	font-size:1.25em;
	padding-bottom:6px;

}









