

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*-----end-------*/
body {
	margin:0 auto;
	width:100%;
}

#top-nav{
	position:absolute;
	right:100px;
	top:10px;
	width:15%;
	height:20px;
	padding:10px;
	margin:0 auto ;
	
	
}

#top-nav a{
	text-decoration: none;
	width:30%;
	color: #76481b;
	font-size:1em;
}


#site-wrapper{
	background-color: #ebf2d5;
	padding:10px;
	margin:0 auto;
	width:100%;
	
	
}

#site-header {
	width:800px;
	margin: 0 auto;
	font-family:sans-serif;
	text-decoration:none;
	
	
	
}

#menu-wrapper{
	background-color:#76481b;
	padding:10px;
	margin:0 auto;
	width:100%;
	
	
}

#main-menu{
	width:800px;
	height:20px;
	border:10px;
	margin:0 auto;
	
}

#main-menu li a{
	padding:5px;
	padding-right:30px;
	border:10px;
	
	
}


#main-menu ul li a{
	float:left;
	font-family:sans-serif;
	color:white;
	text-decoration:none;
	text-transform:uppercase;
}

#content-wrapper {
	width:100%;
	height:80%;
	padding:10px;
	margin:0 auto;
	
	
	
}

#content {
	padding:70px 10px 10px 0px;
	width:65%;
	height:500px;
	margin:0 auto;

}


#page {
	float:left;
	width:60%;
	margin-left:0px;
	color:#76481b ;

}



#sidebar {
	width:20%;
	height:70%;
	float:right;
	padding:20px;

	
	
}


#sidebar img a{
	position:absolute;
	top:300px;
	padding:40px;
	font-family:sans-serif;
	font-size: .5em;
	color:#76481b;
	text-decoration:none;
	text-transform: capitalize;
	
	
	
}

#sidebar h2{
	font-family:sans-serif;
	font-size: 1em;
	color:#76481b;
	text-decoration:none;
	text-transform: capitalize;
		
}

#sidebar ul a{
	font-family:sans-serif;
	font-size: .5em;
	color:#76481b;
	line-height:1.2em;
	text-decoration:none;
	text-transform: capitalize;
}

#sidebar ul{
	padding-bottom:10px;
}

#footer-wrapper{
	background-color:#76481b;
	padding:80px;
	width:100%;
	height:10%;
	position:relative;
	

}

#site-footer{
	font-family:sans-serif;
	color:white;
	font-size:.6em;
	display:block;
	line-height:1.6em;
	padding:20px;
	margin:0 auto;
}

#footer-follow {
	float:right;
	width:25%;
	height:20%;
	padding-bottom:200px;
	margin-right:200px;
	margin-bottom:200px;
	
	
	
}

#footer-follow h1{
	display:inline;
	font-family:sans-serif;
	color:#ebf2d5;
	font-size:1.5em;
	
	
	
	
}

#footer-follow ul a{
	float:left;
	
	
}

#footer-contact{
	position:absolute;
	top:10px;
	left:240px;
	width:10%;
	height:10%;


}

#footer-contact h1{
	display:inline;
	font-family:sans-serif;
	color:#ebf2d5;
	font-size:1.5em;
}

#follow-us{
	float: right;
	width:20%;
	margin-bottom:30px;
	
	
	
}

h1{
	font-family:sans-serif;
	color:#76481b;
	font-size:2em;
	text-transform:uppercase;
	font-weight:bold;
	padding-bottom:;
	
}


h2{
	font-family:sans-serif;
	color:#76481b;
	font-size:1em;
	text-transform:uppercase;
	padding-top:1em;
	padding-bottom:.2em;
	
}