/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}

/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* start here */

body{
	margin: 0 auto;
	width: 80%
	
}


.dog-section {
	float:right;
	clear:left;
	
}
.dog {
	float:right;
	clear:left;
	text-align:center;
	font-family: sans-serif;
	font-size: 5em;
	padding-left:5px;
	bottom padding:10px;
	border-right: 5px;
	margin-right: 5px;

  
}

.cat-section {
	
	float:left;
	clear:right;
}

.cat {
	float:left;
	clear:right;
	text-align:center;
	font-family: sans-serif;
	font-size: 5em;
	padding-left:5px;
	border-right: 5px;
	margin-right: 5px;

  
}

.logo-hr1{
	width: 5%;
	height: 4px;
	align:auto;
	background-color: #C6C6C6;
	border: 0 none;
	
	
	
	
}

.logo-hr2{
	width: 5%;
	height: 2px;
	align:auto;
	background-color: #C6C6C6;
	border: 0 none;
	
	
}

#vs {
	text-align:center;
	font-family: sans-serif;
	font-size: 3em;
	color: #C6C6C6;
	padding-left:5px;
	border-left: 5px;
	margin-left: 5px;
}

#navbar a{
	list-style-type: circle;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5em;
	color: black;
	padding: 5px;
	border: 5px;
	margin: 5px;
	float: left;
	clear: right;
	width: 80px;
		
}
	
h3 {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.2em;
	padding: 5px;
	border:5px;
	margin:5px;
	
}

hr {
	width: 100%;
	height: 4px;
	align:auto;
	background-color:black;
	border: 0 none;
	
}


p{
	font-size:.90em;
	line-height: 1.2em;
	padding: 5px;
	border: 5px;
	margin: 5px;
	
}

footer{
	
	font-size: .75em;
}

#martha{
	float: right;
	width:20%;
	clear:right;
	
}

#wiki{ float: left;
	clear:right;
	width:40%;




}

em{
	color: red;
}
